// Imports
@import "normalize";
@import "bourbon";
@import "colours";
@import "sceletus";


// General
html,body {
	background-color: $black;
	color: $gunMetal;
}


// Navigation
nav {
	height: 100px;
	background: $paper;
	.menu {
		float: right;
		height: 50px;
		padding-top: 11px;
		a {
			color: $gunMetal;
			text-decoration: none;
			margin: 10px 0px 0px 40px;
			text-transform: uppercase;
			font-size: 1.6rem;
			font-weight: 500;
			@include transition(all 0.2s ease-in-out);
			&:hover,
			&:focus {
				outline: none;
				color: $sunflower;
				@include transition(all 0.2s ease-in-out);
			}
		}
	}
	.logo {
		float: left;
		display: block;
		margin: 10px 0 0 0;
		text-decoration: none;
		background: $gunMetal;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		text-align: center;
		font-weight: 700;
		line-height: 3.3;
		font-size: 1.2rem;
		color: $paper;
		@include transition(all 0.2s ease-in-out);
		&:hover,
		&:focus {
			outline: none;
			color: $sunflower;
			@include transition(all 0.2s ease-in-out);
		}
	}
}


// Header
header {
	background-color: $paper;
	.phrase {
		margin-top: 25%;
		height: 100%;
	    h1 {
			font-size: 7rem;
			text-align: center;
			vertical-align: center;
			font-weight: 300;
			color: $gunMetal;
			font-weight: 300;
			span {
				color: $sunflower;
			}
			@media screen and (max-width: 1200px) { 
				font-size: 6rem
			}
			@media screen and (max-width: 992px) { 
				font-size: 5rem;
			}
			@media screen and (max-width: 768px) { 
				font-size: 2.5rem;
				margin-top: 15%;
			}
		}
		@media screen and (max-width: 768px) { 
			margin-top: 15%;
		}
	}
}


// About section
section#about {
	h2 {
		color: $sunflower;
		font-size: 2.5rem;
		margin-top: 100px;
	}
	.social {
		a {
			background: $paper;
			color: $black;
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin: 30px 15px 0 15px;
			font-size: 3rem;
			@include transition(all 0.2s ease-in-out);
			&:hover,
			&:focus {
				outline: none;
				background: $sunflower;
				@include transition(all 0.2s ease-in-out);
			}
		}
	}
	p {
		margin-top: 75px;
		color: $gunMetal;
		font-size: 3rem;
		font-weight: 300;
	}
	.skills {
		text-align: center;
		margin: 50px 0 100px 0;
	}
	.skill-label {
		color: $gunMetal;
		text-transform: uppercase;
		
	}
	.skill-icons {
		span {
			height: 30px;
			width: 30px;
			border-radius: 50%;
			display: inline-block;
			background: $gunMetal;
			margin: 10px 5px 20px 5px;
			font-weight: 700;
			@media screen and (max-width: 768px) { 
				height: 20px;
				width: 20px;
				margin: 10px 3px 20px 3px;
			}
			&.active {
				background: $sunflower;
			}
		}
	}
}


// Work section
section#work {
	background: $paper;
	h2 {
		color: $gunMetal;
		font-size: 2.5rem;
		margin-top: 100px;
	}
	.projects {
		margin: 30px 0 70px 0;
		@media screen and (max-width: 768px) { 
			text-align: center;
		}
		.prj-item {
			img {
					-webkit-box-shadow: 0 8px 6px -6px black;
				    -moz-box-shadow: 0 8px 6px -6px black;
				    box-shadow: 0 8px 6px -6px black;
				}
			margin: 5px;
			.prj-overlay {
				background: fade-out($gunMetal, 0.2);
				@include calc(width, "100% - 9px");
				height: 100%;
				@include calc(height, "100% - 9px");
				position: absolute;
				text-transform: uppercase;
				padding-top: 30px;
				color: $paper;
				font-size: 3rem;
				text-align: center;
				opacity: 0;
				@include transition(all 0.2s ease-in-out);
				@media screen and (max-width: 768px) { 
					height: 100%;
				}
			}
			&:hover > .prj-overlay,
			&:focus > .prj.overlay{
				opacity: 1;
				@include transition(all 0.2s ease-in-out);
			}
		}
	}
}


// Clients section
section#clients {
	padding-bottom: 70px;
	h2 {
		color: $sunflower;
		font-size: 2.5rem;
		margin: 100px 0 50px 0;
	}
	img {
		background: $paper;
		border-radius: 50%;
		border: 2px solid $lightBlack;
		margin: 0 auto;
	}
	.text {
		padding: 30px;
	}
}


// Contact section
section#contact {
	background: $paper;
	h2 {
		color: $gunMetal;
		font-size: 2.5rem;
		margin-top: 100px;
	}
	input[type="text"],
	input[type="email"],
	textarea {
		background: $lightBlack;
		border: 0px;
		width: 70%;
		font-weight: 300;
		border-radius: 3px;
		@media screen and (max-width: 768px) { 
			width: 100%;
		}
		padding: 15px;
		margin: 10px 0px 10px 0px;
		border: 2px solid $paper;
		font-size: 2rem;
		&:focus {
			outline: none;
			border: 2px solid $sunflower;
		}
	}
	input[type="submit"] {
		border: 0 none;
	    border-radius: 2px;
	    color: $paper;
	    cursor: pointer;
	    display: inline-block;
	    padding: 15px 20px;
	    text-transform: none;
		font-size: 2rem;
		text-transform: uppercase;
	    @include transition(all 0.2s ease-in-out);
	    text-align: center;
	    text-decoration: none;
		background: none repeat scroll 0 0 $sunflower; color: $paper; 
        &:hover,
        &:focus { 
        	outline: none;
        	background: none repeat scroll 0 0 $gunMetal; color: $paper;
        }
		margin-bottom: 100px;
	}
}



// Footer 
footer {
	height: 300px;
	padding-top: 80px;
	.heart {
		height: 16px;
		width: 16px;
		g path {
			fill: #E0645C;
		}
	}
	a {
		color: $sunflower;
		text-decoration: none;
		&:hover,
		&:focus {
			outline: none;
			color: $sunflower;
			text-decoration: underline;
		}
	}
	.social {
		a {
			background: $paper;
			color: $black;
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin: 30px 15px 0 15px;
			font-size: 3rem;
			float: right;
			@media screen and (max-width: 768px) { 
				float: none;
			}
			text-align: center;
			@include transition(all 0.2s ease-in-out);
			&:hover,
			&:focus {
				outline: none;
				background: $sunflower;
				@include transition(all 0.2s ease-in-out);
			}
		}
	}
	@media screen and (max-width: 768px) { 
		text-align: center;
	}
}	













